<%- layout('layouts/main') %>

    <h1>Perfil</h1>

    <div class="card card-body">
        <h3>
            <%= user.email%>
        </h3>
        <p>
            <b>Nombre de usuario:</b>
            <%= user.nombre%>
        </p>
        <p>
            <b>Contraseña encriptada:</b>
            <%= user.password%>
        </p>
        <b>Contraseña:</b>1234r
        <p>
            <b>Id:</b>
                <%=user._id%>
        </p>
    </div>